RewriteEngine On
RewriteBase /

# Set the default DirectoryIndex to index.php
DirectoryIndex index.php

# Skip rewriting for files and directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Skip rewriting for requests starting with /api/
RewriteCond %{REQUEST_URI} !^/api/ [NC]

# Rewrite all other requests to index.php
RewriteRule ^ index.php [QSA,L]
